/*
Plugin Name: WP Subscribe
Plugin URI: http://mythemeshop.com/plugins/wp-subscribe/
Author: MyThemeShop
Author URI: http://mythemeshop.com
*/
#wp-subscribe {
	padding: 26px;
	background: #f47555;
}
#wp-subscribe h4.title {
	font-size: 22px;
	color: #FFFFFF;
	line-height: 1;
	text-align: center;
	text-transform: uppercase; 
	margin-bottom: 0;
}
#wp-subscribe h4.title span {
	display: inline-block;
	font-weight: bold; 
	font-size: 38px; 
	margin-top: 15px;
}
#wp-subscribe p {
	color: #FFFFFF;
	margin: 0;
	text-align: center;
}
#wp-subscribe p.text {
	margin: 15px 0;
	opacity: 0.8;
}
#wp-subscribe input {
	border: none;
	width: 100%;
	text-align: center;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 0;
	margin: 0;
	box-shadow: none;
	border-radius: 0;
	height: 45px;
}
#wp-subscribe input.email-field {
	color: #FFFFFF;
	background: #d56144;
}
#wp-subscribe input::-webkit-input-placeholder {
   color: inherit;
   opacity: 0.8;
}
#wp-subscribe input:-moz-input-placeholder {
   color: inherit;
   opacity: 0.8;
}
#wp-subscribe input::-moz-input-placeholder {
   color: inherit;
   opacity: 0.8;
}
#wp-subscribe input::-ms-input-placeholder {
   color: inherit;
   opacity: 0.8;
}
#wp-subscribe input.submit {
	background: #FFFFFF;
	color: #f47555;
	margin-top: 20px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05); 
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
	cursor: pointer;
}
#wp-subscribe p.footer-text {
	margin-top: 10px;
	font-size: 12px;
}